.me{
  background: url("../img/me (1).png") center 0 #f37d0f;
  background-size: auto 100%;
  padding: .335rem 0;
  .me_con{
    display: flex;
    align-items: center;
    color: white;
    font-size: .16rem;
    img{
      margin: 0 .16rem 0 .32rem;
      width: 1rem;
      height: 1rem;
      overflow: hidden;
      box-sizing: border-box;
      border-radius: 100%;
      border: 3px solid hsla(0,0%,100%,.4);
      text-align: center;
    }
    a{
      font-size: .26rem;
    }
  }
}
.order{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: .8rem;
  font-size: .28rem;
  border-bottom: 1px solid rgba(0,0,0,.15);
  color: rgba(0,0,0,.87);
  padding-right: .56rem;
  .fl{
    padding-left: .335rem;
  }
}
.order:after{
  content: "";
  position: absolute;
  right: .32rem;
  top: 50%;
  width: .2rem;
  height: .2rem;
  border-left: 1px solid currentColor;
  border-top: 1px solid currentColor;
  transform: translate3d(0,-50%,0) rotate(135deg);
  -webkit-transform: translate3d(0,-50%,0) rotate(135deg);
}
.full_tabbar{
  height: 0;
}
.title_list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.76rem;
  font-size: .12rem;
  color: rgba(0,0,0,.87);
  .icon{
    width: .48rem;
    height: .48rem;
    margin: 0 auto .16rem;
  }
  >li:nth-child(1) .icon{
    background: url('../img/me (10).png') no-repeat center/cover;
  }
  >li:nth-child(2) .icon{
    background: url('../img/me (4).png') no-repeat center/cover;
  }
  >li:nth-child(3) .icon{
    background: url('../img/me (3).png') no-repeat center/cover;
  }
}
.list{
  .ui_line{
    height: .2rem;
    background: #f5f5f5;
    overflow: hidden;
    clear: both;
  }
  >ul:nth-of-type(1){
    >li:nth-child(1) a{
      background-image: url('../img/me (5).png');
    }
    >li:nth-of-type(2) a{
      background-image: url('../img/me (6).png');
    }
  }
  >ul:nth-of-type(2){
    >li:nth-child(1) a{
      background-image: url('../img/me (7).png');
    }
    >li:nth-of-type(2) a{
      background-image: url('../img/me (8).png');
    }
  }
  >ul:nth-of-type(3){
    >li:nth-child(1) a{
      background-image: url('../img/me (9).png');
    }
  }
  >ul:nth-of-type(4){
    >li:nth-child(1) a{
      background-image: url('../img/me (2).png');
    }
  }
  .con_list{
    li span{
      font-size: .3rem;
    }
    >li>a{
      position: relative;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: justify;
      padding-right: .56rem;
      padding-left: 1.12rem;
      font-size: .18rem;
      height: 1.04rem;
      color: currentColor;
      background-size: .48rem auto;
      background-position: .32rem;
      background-repeat: no-repeat;
    }
    >li+li{
      border-top: 1px solid rgba(0,0,0,.15);
    }
    li>a:after{
      content: "";
      position: absolute;
      right: .32rem;
      top: 50%;
      width: .2rem;
      height: .2rem;
      border-left: 1px solid currentColor;
      border-top: 1px solid currentColor;
      transform: translate3d(0,-50%,0) rotate(135deg);
      -webkit-transform: translate3d(0,-50%,0) rotate(135deg);
    }
  }
}